<div class="row">
        <div class="col-md-12">
            <h3>{{category.name}}</h3>

            <span class="h4 text-primary">Description</span>
            <p>{{category.description}}</p>

            <span class="h4 text-primary">Members</span>
            <ol>
                <li ng-repeat="member in category.members">{{member}}</li>
            </ol>
        </div>
</div>



