<div class="row">
    <button class="btn btn-primary" ng-click="createNewCategory()">Add new Category</button>
    <div class="well well-sm col-md-12"  ng-repeat="category in categoryList">
        <span class="h4 text-danger pull-right" ng-click="removeCategory(category)">
            <span class="glyphicon glyphicon-trash"></span>
        </span>
        <div class="col-md-11" ng-click="changeState('panel.category',category)">
            <h3>{{category.name}}</h3>
            <span class="h4 text-primary">Members : {{category.members.length}}</span>
        </div>
    </div>
</div>

