<h1>Chatting</h1>

<div class="input-group">
    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="messageData.messageTxt">
                        <span class="input-group-btn">
                            <button class="button button-block button-positive" ng-click="sendMessage()">
                                Send</button>
                        </span>
</div>
