<!--
<div class="row">
    <div class="well well-sm" ng-click="changeState('panel.userChat')">
        <h4 class="pull-right">End</h4>
        <div class="container">
            <div class="col-md-2">
                <img src="./images/img-person.gif" alt="..." class="img-circle">
            </div>
            <div class="col-md-10">
                <span class="h3">John Smith - Professional</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="well well-sm" ng-click="changeState('panel.userChat')">
        <h4 class="pull-right">End</h4>
        <div class="container">
            <div class="col-md-2">
                <img src="./images/img-person.gif" alt="..." class="img-circle">
            </div>
            <div class="col-md-10">
                <span class="h3">John Smith - Professional</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="well well-sm" ng-click="changeState('panel.userChat')">
        <h4 class="pull-right">End</h4>
        <div class="container">
            <div class="col-md-2">
                <img src="./images/img-person.gif" alt="..." class="img-circle">
            </div>
            <div class="col-md-10">
                <span class="h3">John Smith - Professional</span>
            </div>
        </div>
    </div>
</div>-->
<div>
    <div ng-repeat="user in chatReqUser">
        {{user}}
        <button ng-click="acceptChatRequest(user._id)">Accept Request</button>
        <button ng-click="rejectChatRequest(user._id)">Reject Request</button>
    </div>
</div>