<div class="row">
    <div class="well well-sm col-md-12" ng-click="changeState('panel.topic')">
        <h4 class="pull-right text-success">Open</h4>
                <div class="col-md-2">
                    <h4>Topic 1</h4>
                </div>
                <div class="col-md-10">
                    <span class="h3 text-primary">Lorem Ipsum</span>
                </div>
    </div>
</div>
<div class="row">
    <div class="well well-sm col-md-12" ng-click="changeState('panel.topic')">
        <h4 class="pull-right text-success">Open</h4>
                <div class="col-md-2">
                    <h4>Topic 1</h4>
                </div>
                <div class="col-md-10 ">
                    <span class="h3 text-primary">Lorem Ipsum</span>
                </div>
    </div>
</div>
<div class="row">
    <div class="well well-sm col-md-12" ng-click="changeState('panel.topic')">
        <h4 class="pull-right text-success">Open</h4>
                <div class="col-md-2">
                    <h4>Topic 1</h4>
                </div>
                <div class="col-md-10 ">
                    <span class="h3 text-primary">Lorem Ipsum</span>
                </div>
    </div>
</div>
