<div class="row ">
    <div class="col-md-10 ">

        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="h2">Topic  :</span><span class="text-primary h1"> Lorem Ipsum</span><br><br>
            <img src="images/img-person.gif" alt="userImg" class="img-thumbnail" height="40" width="40">John Smith
            </div>
            <div class="panel-body">
            <p>
                Description lists
                A description list is perfect for defining terms.
                Euismod
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                Donec id elit non mi porta gravida at eget metus.
                Malesuada porta
                Etiam porta sem malesuada magna mollis euismod.
            </p>
            <span>
                <img src="images/img-person.gif" alt="userImg" class="img-thumbnail" >
            </span>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-offset-2 col-lg-10">
        <div class="panel panel-default">

            <div class="panel-heading">
                <img src="images/img-person.gif" alt="userImg" class="img-thumbnail" height="40" width="40">
                User 2</div>
            <div class="panel-body">
                Description lists
                A description list is perfect for defining terms.
                Euismod
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                Donec id elit non mi porta gravida at eget metus.
                Malesuada porta
                Etiam porta sem malesuada magna mollis euismod.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="position: relative; margin: 0 0 10px;">
            <a href="#" class="btn btn-primary">Re Open</a>
            <a href="#" class="btn btn-default">Close</a>

        </p>
    </div>
</div>


