<h1>User List</h1>
<div class="row" ng-repeat="user in users">
    <h3>{{user.name}}</h3>
    <div class="col-lg-10">
        <div class="col-lg-12">
            <div class="col-lg-2">Email: </div>
            <div class="col-lg-10">{{user.email}}</div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">Professional: </div>
            <div class="glyphicon glyphicon-ok col-lg-10" ng-if="user.professional"></div>
        </div>

        <div class="col-lg-12" ng-if="user.professional">
            <div class="col-lg-2">Master In: </div>
            <div class="col-lg-10">{{user.category.name}}</div>
        </div>
    </div>
    <div class="col-lg-2 glyphicon glyphicon-trash"></div>
</div>
