<h1>Add New Category</h1>
        <div class="col-lg-12">

            <div class="col-lg-12">
                <div class="col-lg-2">Name:</div>
                <input type="text" ng-model="category.name" class="col-lg-10"/>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-2">Description: </div>
                <input type="text" ng-model="category.description" class="col-lg-10"/>
            </div>

            <button class="btn btn-primary" ng-click="addCategory()">Add Category</button>
        </div>