<div class="container">
    <h1>Professional Login</h1>

    <div>
        <div class="col-md-12 white_border">
            <div class="col-md-2">Email :</div>
            <div class="col-md-10">
                <input type="text" ng-model="user.email" placeholder="example@example.com"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">Password :</div>
            <div class="col-md-10">
                <input type="password" ng-model="user.password" placeholder="**************"/>
            </div>
        </div>

        <button class="btn btn-default" ng-click="doLogin()">Sign In</button>
    </div>


</div>