<div class="list">

    <label class="item item-input">

        <input type="text" placeholder="Name" ng-model="user.name">

    </label>

    <label class="item item-input">

        <input type="email" placeholder="Email Address" ng-model="user.email">

    </label>

    <label class="item item-input">

        <input type="password" placeholder="*************" ng-model="user.password">

    </label>

    <label class="item item-input item-select">
        <div class="input-label">
            Category:
        </div>

        <select ng-options="list.name for list in categories" ng-model="selectedCategory" ng-change="changeCategory(selectedCategory)">

            <option value="" disabled>-- Select Category --</option>

        </select>

    </label>

    <button class="button button-block button-positive" ng-click="doSignUp()">
        Sign Up
    </button>

</div>
