<div class="col-md-12">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-primary">ABC Chat Admin</h1>
        <div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control"  placeholder="Enter email" ng-model="user.email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.pass">
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-click="doLogin()">Submit</button>
        </div>
    </div>
</div>