<div class="col-md-2" style="border-right: 1px solid lightgray">
    <div class=" btn-default btn-lg btn-block" ng-click="changeState('panel.chatList')">View Chat</div>

    <div class=" btn-default btn-lg btn-block" ng-click="changeState('panel.topicList')">View topics</div>

    <div class=" btn-default btn-lg btn-block" ng-click="changeState('panel.userList')" ng-if="!user.professional">View Users</div>

    <div class=" btn-default btn-lg btn-block" ng-click="changeState('panel.categories')" ng-if="!user.professional">Categories</div>
</div>
<div ui-view class="col-md-10"></div>