<h1>Professional</h1>
<button class="btn btn-default" ng-click="changeState('professionalLogin')">
    Login
</button>
<button class="btn btn-default" ng-click="changeState('professionalSignUp')">
    Sign up
</button>