<div class="col-90 sharp-header">
    <img src="../img/icon-Dr+.png" alt="" class="col-10 col-offset-10"/>
    <div class="inline col-offset-25 text-heading">Chat</div>
</div>

<div class="col">
    <div ng-repeat="category in categorList" class="category-thumbnil full-bg" style="background-image: url('../img/img-person.gif')" ng-click="changeState('user.category.main',category)">
        <div class="thumbnil-text">
            <p>{{category.name}}</p>
            <!--<h4><strong>Members: </strong>{{category.members.length}}</h4>-->
        </div>
    </div>

</div>