<div class="margin-top-20 text-center ">
    <h3 class="font-white">
        Select Any Section
    </h3>
</div>
<div class="margin-top-20">
    <button class="button button-full button-assertive" ng-click="changeState('user.category.professionalList')">Chat</button>
    <button class="button button-full button-balanced" ng-click="changeState('user.category.topicDiscussion')">Topic Discussion</button>
</div>