<div class="col-90 sharp-header">
    <img src="../img/icon-Dr+.png" alt="" class="col-10 col-offset-10"/>
    <div class="inline col-offset-25 text-heading">{{category.name}}</div>
</div>
<div ui-view></div>