
<div class="row">
        <h1>
                Chats
        </h1>
</div>

        <ul>
                <li ng-repeat="chat in chats">
                        <div class="card padding" ng-click="changeState('particularChat')">
                                <span class="h4">{{chat.name}}
                                <span class="h6">{{chat.category}}</span></span><br>
                                <span><span class="positive">Last Message : </span>{{chat.lastMsg}}</span>
                        </div>
                </li>
        </ul>
