<div class="col-90 sharp-header">
    <img src="../img/icon-Dr+.png" alt="" class="col-10 col-offset-10"/>
    <div class="inline col-offset-10 text-heading">Forget Password</div>
</div>

<div class="margin-top-10">
    <label class="item item-input">
        <input type="email" ng-model="email" placeholder="Register Email">
    </label>
</div>

<div class="margin-top-30">
    <button class="button button-full bg-seagreen" ng-click="sendCode()">Send Code</button>
</div>