<div class="bg-transparent">

    <div class="home-page">
        <div>
            <img src="../img/Doctor-Icon.png" class="col-offset-33 col-33 app-logo"/>
        </div>
        <div class="col-offset-33 col-33 text-center">
            <p class="margin-top-10">Free Live Chat With Doctor</p>
        </div>
        <div>
            <div class="row margin-top-70 no-padding">
                <div class="bg-seagreen col-50 padding-top-bottom-5 assertive-border" ng-click="changeState('localLogin')">
                    <p class="text-center no-margin">Local Login</p>
                </div>
                <div class="col-50 bg-seagreen padding-top-bottom-5" ng-click="changeState('signUp')">
                    <p class="text-center no-margin">SignUp</p>

                </div>
            </div>
            <div class="padding-top-bottom-5 bg-seagreen margin-top-10" ng-click="showPopup()">
                <p class="text-center no-margin">Facebook Login</p>
            </div>
        </div>

    </div>
</div>