<div class="bg-transparent">
    <div class="col-90 sharp-header">
        <img src="../img/icon-Dr+.png" alt="" class="col-10 col-offset-10"/>
        <div class="inline col-offset-25 text-heading">Login</div>
    </div>

    <div class="list">

        <div class="margin-top-10">
            <p class="label-heading">Email: </p>
            <label class="item item-input">
                <input type="email" ng-model="user.email">
            </label>
        </div>
        <div class="margin-top-10">
            <p class="label-heading">Password: </p>
            <label class="item item-input">
                <input type="password" ng-model="user.password">
            </label>
        </div>

        <div class="margin-top-50 col-33 col-offset-33">
            <div class="bg-seagreen padding-top-bottom-5"  ng-click="doLogin()">
                <p class="text-center no-margin">Submit</p>
            </div>
            <div class="padding-top-bottom-5"  ng-click="changeState('forgetPass')">
                <p class="text-center no-margin">Forget Password</p>
            </div>
            <div class="bg-seagreen padding-top-bottom-5" ng-click="changeState('signUp')">
                <p class="text-center no-margin">SignUp</p>

            </div>
        </div>


    </div>
</div>