<div class="list card">

    <div class="item item-avatar">
        <img src="img/img-person.gif">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
    </div>
</div>

<div class="list card">
    <div class="item item-avatar">
        <img src="img/img-person.gif">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
    </div>
</div>

<div class="list card">
    <div class="item item-avatar">
        <img src="img/img-person.gif">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
    </div>
</div>

<div class="list card">
    <div class="item item-avatar">
        <img src="img/img-person.gif">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
    </div>
</div>