<ul>
    <li>
        <div class="card padding" ng-click="changeState('topicDiscussion')">
            <h4 >JUNAID</h4>
            <span>What is your favourite game</span>
        </div>
    </li>
</ul>
<ul>
    <li>
        <div class="card padding">
            <h4 >JUNAID</h4>
            <span>What is your favourite game</span>
        </div>
    </li>
</ul>
<ul>
    <li>
        <div class="card padding">
            <h4 >JUNAID</h4>
            <span>What is your favourite game</span>
        </div>
    </li>
</ul>
