
<div class="row">
        <h1>
                Junaid Chats
        </h1>
</div>


                <!--<div class="card padding">-->
                                <!--<span class="h4">Junaid-->
                                        <!--<span class="h6">Doctor</span>-->
                                <!--</span><br>-->
                                <!--<span>-->
                                        <!--<span class="positive">I will kill u?</span>-->
                                <!--</span>-->

                                <!--<span>-->
                                        <!--<span class="positive pull-right">I will kill u?</span>-->
                                <!--</span>-->

                                <!--<span>-->
                                        <!--<span class="positive">I will kill u?</span>-->
                                <!--</span>-->

                                <!--<span>-->
                                        <!--<span class="positive">I will kill u?</span>-->
                                <!--</span>-->
                <!--</div>-->


        <ul class="chat">
                <li class="col-80">
                        <div>
                                <div>
                                        <strong >Junaid</strong>
                                </div>
                                <p>
                                        Hi
                                </p>
                        </div>
                </li>
                <li class="pull-right col-offset-10 col-80">
                        <div >
                                <div class="header">
                                        <strong class="pull-right primary-font">Kashif</strong>
                                </div>
                                <p>
                                        Hi
                                </p>
                        </div>
                </li>
                <li class="left clearfix">
                        <div >
                                <div class="header">
                                        <strong class="primary-font">Junaid</strong>
                                </div>
                                <p>
                                        How Are U?
                                </p>
                        </div>
                </li>
                <li class="pull-right col-offset-10 col-80">
                        <div >
                                <div class="header">
                                        <strong class="pull-right primary-font">Kashif</strong>
                                </div>
                                <p>
                                        I'm Fine
                                </p>
                        </div>
                </li>

        </ul>


        <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="messageData.messageTxt">
                        <span class="input-group-btn">
                            <button class="button button-block button-positive"  ng-click="sendMessage()">
                                    Send</button>
                        </span>
        </div>

