

<div class="row">


        <button class="button button-block dark-border" ng-click="changeState('openChatList')">
            Open Chat List
        </button>

        <button class="button button-block dark-border" ng-click="changeState('openTopics')">
            Open Topics
        </button>

</div>
<!--

<button class="button" ng-click="changeState('openChatList')">Open Chat List</button>
<button class="button" ng-click="changeState('openTopics')">Open Topics</button>
-->

<div ui-view></div>