<h1 class="font-white text-center">Online Professional</h1>
<div class="list" ng-repeat="professional in professionals">
    <div class="item">
        <h3>{{professional.name}}</h3>
        <h4 ng-if="professional.available">Available</h4>
        <button ng-click="reqforChat(professional.id)">Chat Call</button>
    </div>
</div>

<!--list of online users list-->

<ul>
    <li class="col-lg-12" ng-repeat="online in onlineProfessionalList">{{online.name}}</li>
</ul>
