<div class="col-90 sharp-header">
    <img src="../img/icon-Dr+.png" alt="" class="col-10 col-offset-10"/>
    <div class="inline col-offset-25 text-heading">Register</div>
</div>

<div class="list margin-top-20">

    <label class="item item-input">

        <input type="text" placeholder="Name" ng-model="user.name">

    </label>
    <label class="item item-input">

        <input type="email" placeholder="Email" ng-model="user.email">

    </label>

    <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
    </label>

    <label class="item item-input">
        <input type="password" placeholder="Confirm Passoword" ng-model="user.confirmPassword">
    </label>

    <div class="margin-top-20">
        <button class="button button-block bg-seagreen" ng-click="doSignUp()">
            Register
        </button>
    </div>

</div>


