<div class="row">

    <div class="card">
        <div class="item item-divider">
            <span class="h2">Topic  :</span><span class="text-primary h1"> Lorem Ipsum</span>
        </div>
        <div class="item item-text-wrap item-avatar">
            <img src="img/img-person.gif" alt="userImg" class="img-thumbnail" height="40" width="40">
            <span class="padding"><b>John Smith</b></span>
            <p class="padding">
                Description lists
                A description list is perfect for defining terms.
                Euismod
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                Donec id elit non mi porta gravida at eget metus.
                Malesuada porta
                Etiam porta sem malesuada magna mollis euismod.
            </p>
        </div>
        <div class="padding">
            <span>
                <img src="img/img-person.gif" alt="userImg" class="img-thumbnail" >
            </span>

            <span>
                <img src="img/img-person.gif" alt="userImg" class="img-thumbnail" >
            </span>

        </div>

        <div class="item item-divider">

        </div>
    </div>
</div>


<!--<div class="row">

    <div class=" card">

        <div class="item item-text-wrap item-avatar pull-right">
            <img src="img/img-person.gif" alt="userImg" class="img-thumbnail" height="40" width="40">
            <span class="padding"><b>User123</b></span>
            <p class="padding">
                Description lists
                A description list is perfect for defining terms.
                Euismod
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                Donec id elit non mi porta gravida at eget metus.
                Malesuada porta
                Etiam porta sem malesuada magna mollis euismod.
            </p>
        </div>

    </div>
</div>-->

<div>
    <div class="list ">
        <label class="item item-input padding">
            <i class="icon ion-paperclip"></i>
            <input type="text" placeholder="Answer">
            <button class="button button-small button-positive">Send</button>
        </label>
    </div>
</div>






