.aSignUp{
    text-decoration: none;
}
.doctorBg{
    background-color: #0a9ec7;
    /*background-image: url("../img/doctor-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
    /*-webkit-filter: blur(5px);*/
}
.bg-transparent{
    /*background: transparent;*/
}
.no-padding{
    padding: 0;
}
ion-nav-view .page{
    background: transparent;
}

.icon-dr+{
    background-color: url('../img/icon-Dr+.png');
}

/*.transparentBg{
    background: transparent;
}
ion-nav-view>.pane{
    background: transparent;
}*/
.app-logo{

}
.home-page{
    margin: 20% 0;
}
.bg-seagreen{
    background-color: #1eacb8;
    color:#ffffff;
}
.sharp-header{
    padding: 2%;
}
.sharp-header .text-heading{
    vertical-align: top;
    margin-top: 2%;
    font-size: 25px;
    color:#1eacb8;
}

.margin-top-10{
    margin-top: 10%;
}
.margin-top-20{
    margin-top: 20%;
}
.margin-top-30{
    margin-top: 30%;
}

.margin-top-40{
    margin-top: 40%;
}

.margin-top-50{
    margin-top: 50%;
}

.margin-top-60{
    margin-top: 60%;
}
.margin-top-70{
    margin-top: 70%;
}

.margin-top-80{
    margin-top: 80%;
}

.margin-top-90{
    margin-top: 90%;
}
.padding-top-bottom-5{
    padding: 5% 0%;
}
.margin-center{
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.label-heading{
    font-size: 20px;
    color:#4f4f4f;
}
.category-thumbnil{
    display: inline-block;
    width: 48%;
    height: 250px;
    margin: 1%;
}
.full-bg{
    background-repeat: no-repeat;
    background-size: 100%;
}
.thumbnil-text{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    background-color: #77c3f4;
    opacity: 0.5;
}
.thumbnil-text p {
    opacity: 1;
}
.font-white{
    color:white
}
